
.contact{
  padding-top: 30px;
  font-family: 'Courier New', Courier, monospace;
    .inputtaking{
        border: 2px solid white;
        border-radius: 9px;
        padding: 20px;
        background: transparent;
        color: white;
    }
    
    button{
        border: 1px solid white;
        border-radius: 15px;
        background: transparent;
        color: white;
        padding: 10px;
       
        
    }

    button:hover{
        background-color: white;
        color:black;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .emailsender{
        position: relative;
        padding-top: 100px;
    }
    .message{
        height: 100px;
        background: transparent;
        color: white;
    }
    h2{
        font-family: 'Courier New', Courier, monospace;
    }
    h1{
        font-family: 'Courier New', Courier, monospace;
    }
}
